* {
  font-family: Inconsolata, monospace;
  font-size: 1rem;
}
body {
  background-color: #000f0a;
  color: #dee5e5;
}
a {
  color: #17b3b3;
}
a:active {
  color: #0f7575;
}

h4 {
  font-size: 24px;
}

p,
a,
li,
label,
input {
  font-size: 20px;
}

ul {
  list-style: none;
  align-items: start;
  padding: 0;
}

label {
  padding-right: 0.5rem;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

#faux-stdin {
  background: #000f0a;
  color: #dee5e5;
  border: none;
}
#faux-stdin:focus {
  outline: none;
  caret-color: transparent;
}

#faux-caret {
  color: transparent;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#faux-caret > span {
  position: absolute;
  z-index: 1;
  animation: blink 1s step-end infinite;
  border-color: #dee5e5;
  border-bottom: solid;
  color: transparent;
  margin-top: -16px;
}

#search-form {
  display: flex;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #dee5e5;
  }
}

@media (max-width: 1200px) {
  h4 {
    font-size: 20px;
  }

  p,
  a,
  li,
  label,
  input {
    font-size: 16px;
  }
}
